.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto; 
    text-align: center;
    background-color: rgb(238, 240, 242);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h2{
    margin-top: 20px;
    color: #05297c;
}
b{
    margin-top: 20px;
    color: #05297c;
}
  header {
            background-color: #6b2c1f;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        header nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
        }